In [1]:

!apt-get install -y -qq software-properties-common python-software-properties module-init-tools
!add-apt-repository -y ppa:alessandro-strada/ppa 2>&1 > /dev/null
!apt-get update -qq 2>&1 > /dev/null
!apt-get -y install -qq google-drive-ocamlfuse fuse
from google.colab import auth
auth.authenticate_user()
from oauth2client.client import GoogleCredentials
creds = GoogleCredentials.get_application_default()
import getpass
!google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret} < /dev/null 2>&1 | grep URL
vcode = getpass.getpass()
!echo {vcode} | google-drive-ocamlfuse -headless -id={creds.client_id} -secret={creds.client_secret}

E: Package 'python-software-properties' has no installation candidate
Selecting previously unselected package google-drive-ocamlfuse.
(Reading database ... 131294 files and directories currently installed.)
Preparing to unpack .../google-drive-ocamlfuse_0.7.3-0ubuntu1~ubuntu18.04.1_amd64.deb ...
Unpacking google-drive-ocamlfuse (0.7.3-0ubuntu1~ubuntu18.04.1) ...
Setting up google-drive-ocamlfuse (0.7.3-0ubuntu1~ubuntu18.04.1) ...
Processing triggers for man-db (2.8.3-2ubuntu0.1) ...
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
··········
Please, open the following URL in a web browser: https://accounts.google.com/o/oauth2/auth?client_id=32555940559.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive&response_type=code&access_type=offline&approval_prompt=force
Please enter the verification code: Access token retrieved correctly.

In [0]:
!mkdir -p drive
!google-drive-ocamlfuse drive
#!pip install -q keras

In [0]:
#mkdir test
#!sudo mount -o loop /dev/loop0 drive

mount: drive: can't find in /etc/fstab.

In [3]:
# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

    100% |████████████████████████████████| 993kB 17.9MB/s
  Building wheel for PyDrive (setup.py) ... done

In [4]:
import pandas as pd
df = pd.read_csv("drive/Colab Notebooks/AUST/Pattern Project/project_data.csv")
df.head()
!ls drive

'0 OWN'				  'Personal Document Manager'
 AUST				  'resume_md_abdullah_al_nasim (0ab4c6ad).pdf'
'AUST website- competition info'  'resume_md_abdullah_al_nasim (2af42ead).pdf'
 Classroom			   resume_md_abdullah_al_nasim.pdf
'Colab Notebooks'		  'Template 2'
'Colab Notebooks 2'

In [5]:
df['Name'].unique()

array(['Anis-Ul-Islam Rafid', 'Saidul Arafin', 'MD Abdullah Al Nasim',
       'Zahid Al Mamun', 'Shurid Sohom', 'Syeda Khadiza Akhter',
       'Md. Masud Rana', 'Sarwar Saif', 'Samiur Rahman', 'Sakib Ahmed',
       'shammy shikder shanta', 'Tanjina Akter Nipu',
       'Fairuz Shezuti Rahman', 'Humayara Asima', 'Shamit Ahmed',
       'Murad Hossain', 'Sakif Azline', 'Amit Raha Niloy',
       'Sofia Neherin', 'Fabliha Fairooz', nan], dtype=object)

In [6]:
df.drop(['Name'], axis = 1, inplace = True)
df.head()

,Current Place,Current Place Latitude,Current Place Longitude,Place of interest,Place of interest Latitude,Place of interest Longitude,Food you like most,Leisure time activity,Future plan,Typically your days are started at
0,Goran,23.75027,90.434130,Cox's Bazar,21.411270,91.995891,Biriyani,Movies,Software Engineer,LR
1,Banasree,22.513531,88.301537,Sea Beach,NaN,NaN,Kachchi,Sports,BCS/Business,LR
2,Azimpur,23.7270399,90.384690,Kaptai Lake,22.755208,92.277031,kacchi biryani,Series,Higher Study,ER
3,Niketon,23.70731,90.415480,home,23.707310,90.415480,any,"movies,music",software Engineer,LR
4,Shaymoli,22.301411,70.822357,home,22.301411,70.822357,sea food,music,businessman,LR

In [7]:
df.dropna(axis = 0, inplace = True)
from sklearn.preprocessing import LabelEncoder
lb_make = LabelEncoder()
df["Current Place"] = lb_make.fit_transform(df["Current Place"])
df.head()

,Current Place,Current Place Latitude,Current Place Longitude,Place of interest,Place of interest Latitude,Place of interest Longitude,Food you like most,Leisure time activity,Future plan,Typically your days are started at
0,3,23.75027,90.434130,Cox's Bazar,21.411270,91.995891,Biriyani,Movies,Software Engineer,LR
2,0,23.7270399,90.384690,Kaptai Lake,22.755208,92.277031,kacchi biryani,Series,Higher Study,ER
3,8,23.70731,90.415480,home,23.707310,90.415480,any,"movies,music",software Engineer,LR
4,12,22.301411,70.822357,home,22.301411,70.822357,sea food,music,businessman,LR
5,1,-32.34861,151.924576,Cox's Bazar,21.411270,91.995891,Burger,Series,Entrepreneur,LR

In [12]:
df["Place of interest"] = lb_make.fit_transform(df["Place of interest"])
df["Food you like most"] = lb_make.fit_transform(df["Food you like most"])
df["Leisure time activity"] = lb_make.fit_transform(df["Leisure time activity"])
df["Future plan"] = lb_make.fit_transform(df["Future plan"])
df["Typically your days are started at"] = lb_make.fit_transform(df["Typically your days are started at"])
df.head()

,Current Place,Current Place Latitude,Current Place Longitude,Place of interest,Place of interest Latitude,Place of interest Longitude,Food you like most,Leisure time activity,Future plan,Typically your days are started at
16,10,27.883743,79.912247,1,21.411270,91.995891,1,1,7,1
3,8,23.70731,90.415480,7,23.707310,90.415480,5,7,10,1
14,11,23.70731,90.415480,6,23.733103,90.368848,1,1,2,1
15,4,23.745173,90.386421,3,23.745173,90.386421,1,1,0,1
8,7,23.70731,90.415480,3,23.707310,90.415480,0,0,3,1

In [0]:
import sklearn
from sklearn import svm
df = sklearn.utils.shuffle(df)
x = df.drop("Typically your days are started at",axis = 1).values
y = df["Typically your days are started at"].values

In [14]:
#decision Tree

test_size = int(0.2*len(x))
train_x = x[:-test_size]
train_y = y[:-test_size]
test_x = x[-test_size:]
test_y = y[-test_size:]

from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier()
clf.fit(train_x, train_y)
clf.score(test_x, test_y)

1.0

In [11]:
#Gaussian Naive bayes
from sklearn.naive_bayes import GaussianNB
clf = GaussianNB()
clf.fit(train_x, train_y)
clf.score(test_x, test_y)

0.6666666666666666

In [16]:
#svm with rbf karnel
import sklearn
from sklearn import svm, preprocessing
df = sklearn.utils.shuffle(df)
x = df.drop("Typically your days are started at",axis = 1).values
y = df["Typically your days are started at"].values

x = preprocessing.scale(x)
test_size = int(0.2*len(x))
train_x = x[:-test_size]
train_y = y[:-test_size]
test_x = x[-test_size:]
test_y = y[-test_size:]

clf = svm.SVR(kernel = "rbf")
clf.fit(train_x, train_y)
clf.score(test_x, test_y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:595: DataConversionWarning: Data with input dtype object was converted to float64 by the scale function.
  warnings.warn(msg, DataConversionWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

0.0

0.0

1.0